.header {
	width: 100%;
	padding: 10px;
  border-bottom: 1px solid #666;
  color: black;
}

.header h1 {
	margin: 0;
	padding: 0 15px;
	font-size: 12px;
	font-weight: 400;
}

.header nav a {
	display: inline-block;
	min-width: 50px;
	text-decoration: none;
}

